* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: white; */
}

body {
  font-family: helvetica;
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
  overflow: scroll;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

h1 {
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.877);
  height: 35px;
  width: 150px;
  text-align: center;
  /* padding: 5px; */
}

.logo {
  font-family: 'Unica One', cursive;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 10px 12px 8px 1px #88888811;
  padding: 5px;
  width: 100%;
  z-index: 2;
  position: fixed;
}

.productOverview {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 50px;
  margin-top: 50px;
  background-color: transparent;
}

.relatedView {
  margin-left: 50px;
}

.rightSide {
  width: 100%;
  background-color: transparent;
}

.thumbnail-grid {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 100%;
  min-height: 20%;
  margin-top: 60px;
}

.thumbnail-grid li {
  width: 25%;
  margin-bottom: 5px;
  list-style: none;
  font-family: 'PT Sans', sans-serif;
}

.thumbnail-grid .title {
  font-size: 6px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 13px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.thumbnailImg {
  /* vertical-align: middle; */

  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.thumbIcon {
  position: absolute;
  margin-left: 40px;
  cursor: pointer;
}

.centerImg {
  /* vertical-align: middle; */
  display: flex;
  justify-content: center;
}

.salePrice {
  color: red;
}

.orgPrice {
  text-decoration: line-through;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 12px;
  font-family: 'Didact Gothic', sans-serif;
  margin-left: 6px;
}

.sizeOptions {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 6px;
}

.dropdownFont {
  border-radius: 2px;
  font-size: 12px;
  font-family: 'Didact Gothic', sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
}

.styleSlogan {
  font-size: 13px;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'PT Sans', sans-serif;
  margin-left: 6px;
  margin-top: 15px;
}

.styleDescription {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
  width: 50%;
  margin-left: 6px;
  margin-top: 2px;

}

.currentStyleMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.styleInfoAndThumbs {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: transparent;
  /* font-family: 'Didact Gothic', sans-serif; */
}

.styleInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 5px;
  background-color: transparent;
}

.transparent {
  background-color: transparent;
}

.currentVisualMain {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mainImageTiles {
  /* vertical-align: middle; */
  width: 50px;
  height: 50px;
  object-fit: cover;
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

.mainImage {
  /* vertical-align: middle; */
  width: 425px;
  height: 525px;
  object-fit: cover;
  position: relative;
}

.scroll {
  height: 375px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 10px;
  position: absolute;
  padding: 10px;
  background-color: transparent;
}

.button {
  width: 90px;
  height: 20px;
  transition-duration: 0.4s;
  background-color: black;
  border-radius: 2px;
  font-size: 12px;
  border-style: none;
  font-family: 'Didact Gothic', sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
  color: white;
  margin-left: 6px;
  align-items: center;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.527);
  cursor: pointer;
}

.category {
  font-size: 0.7em;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #1b1b1b;
  background-color: transparent;
  margin-left: 6px;
}

.styleTitle {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: transparent;
  margin-left: 6px;
  font-size: 25px;
  /* font-family: 'PT Sans', sans-serif; */
}


